<div class="container">
    <div class="text-center mb-3">
        <h1>News Scraper Deluxe</h1>
        <button type="button" class="btn btn-primary" id="scrape">Scrape!</button>
    </div>
    {{#each dbArticles}}
    <div class="row">
        <div class="col-12">
            <div class="card mt-1 mb-2">
                <div class="card-horizontal">
                    <img src={{pictureLink}} width="152" height="102" alt={{pictureLink}}>
                    <div class="card-body">
                        <a href={{link}} target="_blank" class="card-title">{{title}}</a>
                        <br>
                        <p>{{summary}}</p>
                        <a href="/comments/{{_id}}" class="btn btn-primary">Comments</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{/each}}
</div>

<script type="text/javascript" src="/assets/js/scraper.js"></script>